In [1]:
import pandas as pd
import urllib.request,sys,time
from bs4 import BeautifulSoup
import requests
import csv

In [2]:
df = pd.read_csv('cna_urls_combined.csv')
df

     Page                                                URL
0       0  https://www.channelnewsasia.com/news/singapore...
1       0  https://www.channelnewsasia.com/news/sport/ten...
2       0  https://www.channelnewsasia.com/news/singapore...
3       0  https://www.channelnewsasia.com/news/lifestyle...
4       0  https://www.channelnewsasia.com/news/singapore...
..    ...                                                ...
230    23  https://www.channelnewsasia.com/news/cnainside...
231    23  https://www.channelnewsasia.com/news/commentar...
232    23  https://www.channelnewsasia.com/news/commentar...
233    23  https://www.channelnewsasia.com/news/cnainside...
234    23  https://www.channelnewsasia.com/news/commentar...

[235 rows x 2 columns]

In [4]:
def get_text(url):
    try: 
        headers = {'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}
        page = requests.get(url, headers=headers)
    except Exception as e:    

        # get the exception information
        error_type, error_obj, error_info = sys.exc_info()      

        #print the link that cause the problem
        print ('ERROR FOR LINK:',url)

        #print error info and line that threw the exception                          
        print (error_type, 'Line:', error_info.tb_lineno)
    page.status_code
    soup = BeautifulSoup(page.text, "html.parser")
#     print(soup)
    article = soup.find("div", attrs={"class": "c-rte--article"})
    if article ==  None:
        pass
    else:
        articleParagraph = article.find_all("p")
        for i in range(len(articleParagraph)):
#             print(articleParagraph[i].text)
            return(articleParagraph[i].text)

In [10]:
df['text'] = df.apply(lambda x: get_text(x['URL']), axis=1)

In [8]:
df

,Page,URL,text
0,0,https://www.channelnewsasia.com/news/singapore...,"SINGAPORE: Amid a rapidly ageing society, the ..."
1,0,https://www.channelnewsasia.com/news/sport/ten...,REUTERS: World number two Naomi Osaka said...
2,0,https://www.channelnewsasia.com/news/singapore...,SINGAPORE: Singapore reported 452 suicides las...
3,0,https://www.channelnewsasia.com/news/lifestyle...,"When Marie, 11, called a suicide prevention ho..."
4,0,https://www.channelnewsasia.com/news/singapore...,None
...,...,...,...
230,23,https://www.channelnewsasia.com/news/cnainside...,"SINGAPORE: For nearly 35 years, Mr Sim Kah Lim..."
231,23,https://www.channelnewsasia.com/news/commentar...,SINGAPORE: Man is an amazing creature. We have...
232,23,https://www.channelnewsasia.com/news/commentar...,SINGAPORE: It was a cold night in January. A s...
233,23,https://www.channelnewsasia.com/news/cnainside...,SINGAPORE: He was once an accomplished teacher...
234,23,https://www.channelnewsasia.com/news/commentar...,SINGAPORE: World Bipolar Day falls on Mar 30 e...

In [ ]:
# df.to_csv