In [0]:

# ## Ravish Chawla
# ### Topic Modeling with LDA and NMF algorithms on the ABC News Headlines Dataset
# #### July 31, 2017

# # Data imports
# 
# We import Pandas, numpy and scipy for data structures. We use gensim for LDA, and sklearn for NMF

# In[28]:

import pandas as pd;
import numpy as np;
import scipy as sp;
import sklearn;
import sys;
from nltk.corpus import stopwords;
import nltk;
from gensim.models import ldamodel
import gensim.corpora;
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer;
from sklearn.decomposition import NMF;
from sklearn.preprocessing import normalize;
import pickle;


# # Loading the data
# 
# We are using the ABC News headlines dataset. Some lines are badly formatted (very few), so we are skipping those.

# In[ ]:

data = pd.read_csv('en_interim_01_05_DV_IN_with_full_texts.csv', error_bad_lines=False);

In [9]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [6]:
data.head()

   Unnamed: 0  ...                                               text
0           0  ...  Surat: Who killed Dishit Jariwala ? Wife, two ...
1           1  ...                                                NaN
2           2  ...  \n\n\n\n\n\n\n\n\n\n\n\n\n\nCAA protests: Shia...
3           3  ...   \n\n\n\n\n\n\n\nEntry of 2 young women in Sab...
4           4  ...  \n\n\n\n\n\n\n\n\nMinister Gokul Prasad Baskot...

[5 rows x 67 columns]

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(max_df=0.8, min_df=2, stop_words='english')
doc_term_matrix = count_vect.fit_transform(data['text'].values.astype('U'))

In [54]:
from sklearn.decomposition import LatentDirichletAllocation

LDA = LatentDirichletAllocation(n_components=5, random_state=42)
LDA.fit(doc_term_matrix)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
                          evaluate_every=-1, learning_decay=0.7,
                          learning_method='batch', learning_offset=10.0,
                          max_doc_update_iter=100, max_iter=10,
                          mean_change_tol=0.001, n_components=5, n_jobs=None,
                          perp_tol=0.1, random_state=42, topic_word_prior=None,
                          total_samples=1000000.0, verbose=0)

In [56]:
import random

for i in range(10):
    random_id = random.randint(0,len(count_vect.get_feature_names()))
    print(count_vect.get_feature_names()[random_id])

asymptomatic
newsbudget
specialises
sickness
firdous
kutcha
stating
8750871221
ebooks
rebalancing

In [61]:
for i,topic in enumerate(LDA.components_):
    print(f'Top 10 words for topic #{i}:')
    print([count_vect.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 words for topic #0:
['share', 'lockdown', 'orissapost', 'plastic', 'subscribe', '19', 'coronavirus', 'covid', 'odisha', 'free']


Top 10 words for topic #1:
['death', 'case', 'said', 'rape', 'convicts', 'covid', '19', 'ht', 'court', 'delhi']


Top 10 words for topic #2:
['policy', 'covid', 'law', '19', 'said', 'world', 'bs', 'business', 'new', 'women']


Top 10 words for topic #3:
['express', 'indian', 'cases', '19', 'tv', 'delhi', 'women', 'said', 'covid', 'police']


Top 10 words for topic #4:
['indiacoronavirus', 'policy', 'mubarak', 'cases', 'economic', 'police', 'said', 'helpline', 'times', 'coronavirus']

In [62]:
topic_values = LDA.transform(doc_term_matrix)
topic_values.shape

(6708, 5)

In [0]:
data['Topic_lda'] = topic_values.argmax(axis=1)

In [77]:
data.head()

   Unnamed: 0  Unnamed: 0.1  ...  Topic_nmf  Topic_lda
0           0             0  ...          2          4
1           1             1  ...          2          4
2           2             2  ...          0          0
3           3             3  ...          1          2
4           4             4  ...          0          3

[5 rows x 69 columns]

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(max_df=0.8, min_df=2, stop_words='english')
doc_term_matrix = tfidf_vect.fit_transform(data['text'].values.astype('U'))

In [44]:
from sklearn.decomposition import NMF

nmf = NMF(n_components=5, random_state=42)
nmf.fit(doc_term_matrix )

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=5, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [46]:
import random

for i in range(10):
    random_id = random.randint(0,len(tfidf_vect.get_feature_names()))
    print(tfidf_vect.get_feature_names()[random_id])

licking
redundant
musings
noteworthy
hercules
screams
gabriella
liberated
affiliated
stimulate

In [0]:
first_topic = nmf.components_[0]
top_topic_words = first_topic.argsort()[-10:]

In [48]:
for i in top_topic_words:
    print(tfidf_vect.get_feature_names()[i])

said
hindu
delhi
day
police
lockdown
coronavirus
covid
19
women

In [49]:
for i,topic in enumerate(nmf.components_):
    print(f'Top 10 words for topic #{i}:')
    print([tfidf_vect.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 words for topic #0:
['said', 'hindu', 'delhi', 'day', 'police', 'lockdown', 'coronavirus', 'covid', '19', 'women']


Top 10 words for topic #1:
['strategistweekenddata', 'paperlatest', 'seriesipl', 'commentcolumnistsbs', 'toolsderivativesbs', 'worldsmestart', 'premium', 'fund', 'standard', 'bs']


Top 10 words for topic #2:
['indiaindia', '2020coronavirus', 'livepakistan', 'crashirctc', 'newstimes', 'economic', 'indiacoronavirus', 'times', 'mubarak', 'helpline']


Top 10 words for topic #3:
['north', 'chandigarh', 'tv', 'launch', 'indian', 'mask', 'viral', 'watch', 'realme', 'express']


Top 10 words for topic #4:
['https', 'gang', 'www', 'rape', 'html', 'hindustantimes', 'court', 'delhi', 'convicts', 'ht']

In [55]:
topic_values = nmf.transform(doc_term_matrix)
data['Topic_nmf'] = topic_values.argmax(axis=1)
data.head()

   Unnamed: 0  Unnamed: 0.1  ...  Topic  Topic_nmf
0           0             0  ...      2          2
1           1             1  ...      2          2
2           2             2  ...      0          0
3           3             3  ...      1          1
4           4             4  ...      0          0

[5 rows x 69 columns]

In [52]:
data['Topic_nmf'].values.tolist().count(0)

4250

In [0]:
nmf_dataset=data[data['Topic_nmf']==0]

In [0]:
lda_nmf_dataset=nmf_dataset[(nmf_dataset['Topic_lda']==2) | (nmf_dataset['Topic_lda']==3)]

In [0]:
lda_nmf_dataset.to_csv('news-lda_nmf_data.csv')